{% extends 'basic.html' %}
{% block body %}
<div class="container">
        <i class="fa-solid fa-file-pdf"></i>
        <div class="c-part1">
            <h1>all pdf tool at one place</h1>
        </div>
        <p>With just a simple drag-and-drop, you can use every PDF tool within seconds. There’s no file size limit nor
            even the need to register to use our service.</p>
    </div>
    <div class="pdf-options">
        <div class="po1">
            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="merge">Merge PDF</a> </button>
            </div>
        </div>
        <div class="po1 split">
            <i class="fa-solid fa-arrows-split-up-and-left"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="split">Split PDF</a> </button>
            </div>
        </div>
        <div class="po1 com">
            <i class="fa-solid fa-minimize"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="compressPdf">Compress PDF</a> </button>
            </div>
        </div>
        <div class="po1">
            <i class="fa-solid fa-file-powerpoint"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="input.html">PDF to Powerpoint</a> </button>
            </div>
        </div>
    </div>
    <div class="pdf-options">
        <div class="po1 word">
            <i class="fa-solid fa-file-word"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="input.html">PDF to Word</a> </button>
            </div>
        </div>
        <div class="po1 edit">
            <i class="fa-solid fa-pen-to-square"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="input.html">Edit PDF</a> </button>
            </div>
        </div>
        <div class="po1 protect">
            <i class="fa-solid fa-unlock-keyhole"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="input.html">Protect PDF</a> </button>
            </div>
        </div>
        <div class="po1">
            <i class="fa-solid fa-qrcode"></i>
            <p>Merge one or more pdf in orderwise with the easiest way</p>
            <div class="btn">
                <button class="pdf-btn"><a href="input.html">Scan to PDF</a> </button>
            </div>
        </div>
    </div>

    <div class="features">
        <h1>our <span>features</span></h1>
        <div class="f-1">
            <i class="fa-solid fa-file-arrow-up"></i>
            <p>Select the PDF you wish to convert.</p>
        </div>
        <div class="f-1 f2">
            <i class="fa-solid fa-file-powerpoint"></i>
            <p>Our free PDF converter will convert your document to PDF or from PDF in seconds.</p>
        </div>
        <div class="f-1 f3">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <p>Free access, no need to paid subscription</p>
        </div>
        <div class="f-1 f4">
            <i class="fa-solid fa-file-shield"></i>
            <p>Fast and secure</p>
        </div>
    </div>
    <div class="trophees">
        <div class="trophy">
            <div class="award">
                <h1>62</h1>
                <hr color="white" style="width: 50%;">
                <p>Total Awards</p>
            </div>
            <i class="fa-solid fa-trophy number-icons"></i>
        </div>
        <div class="trophy">
            <div class="award">
                <h1>152</h1>
                <hr color="white" style="width: 50%;">
                <p>Total employee</p>
            </div>
            <i class="fa-solid fa-people-group number-icons"></i>
        </div>
        <div class="trophy">
            <div class="award">
                <h1>10+</h1>
                <hr color="white" style="width: 50%;">
                <p>services</p>
            </div>
            <i class="fa-solid fa-screwdriver-wrench number-icons"></i>
        </div>
        <div class="trophy">
            <div class="award">
                <h1>600000+</h1>
                <hr color="white" style="width: 50%;">
                <p>happy users</p>
            </div>
            <i class="fa-solid fa-face-smile number-icons"></i>
        </div>
    </div>
    </div>

{% endblock%}